@model Day12.Models.AddProducts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AddProducts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Specifiation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Specifiation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Summary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
